<!DOCTYPE html>
<html>
<head>
    <title>Info Page</title>
    <link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
    <h2>Based on your weight of <%= weight %> oz</h2>
    <h2>And your mailing type of <%= option %></h2><br>
    <h1>Your total is:<br>$<%= total %></h1><br><br>
    <h3>Your JSON string is:<br><%= jsonstr %></h3>
</body>
</html>