<!DOCTYPE html>
<html>
<head>
    <title>Info Page</title>
</head>
<body>
    <h2>Based on your weight of <%= weight %> oz</h2><br>
    <h2>And your mailing type of <%= option %></h2><br><br>
    <h1>Your total is $<%= total %></h1>
</body>
</html>